<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title L.CESAR ADVOGADOS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
   </head>
<body>
    @RenderBody()     
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-lg hidden-md" href="#">
                    L.CÉSAR Advogados
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active" style="margin-left:5px"><a href="#section-about">O Escritório</a></li>
                    <li style="margin-left:5px"><a href="/#teamMembers">Profissionais</a></li>
                    <li style="margin-left:5px"><a href="/#testimonials">Informativos</a></li>
                    <li style="margin-left:5px"><a href="/#section-contact">Contato</a></listyle="margin-left:5px">
                </ul>
            </div>
            
        </div>
    </nav>            
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
